@import "../../Color.scss";

#timer-div p {
    font-size: 48px;
    font-weight: bold;
}

#circle-timer {
    position: relative;
    width: 360px; 
    height: 360px;
}



#circle-timer #chicken {
    size: 160px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; /* 이 부분 추가 */
}

#circle-timer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}