div#clock {
    display: flex;
    justify-content: center;
}

div#clock > span {
    margin: 0 12px;

    font-size: 120px;
    font-weight: 700;

    color: white; 
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* 흰색 빛나는 효과 */
}

div#basic-timer > button {
    margin-right: 24px;
}

div#basic-timer > button:last-child {
    margin-right: 0;
}