div#time-picker {
    display: flex;
    flex-direction: column;
}

div#title-input label {
    margin-right: 12px;
}

div#title-input input {
    padding: 12px;
}

div#title-input {
    margin-bottom: 12px;
}

div#time-pick {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#time-pick label {
    margin-bottom: 12px;
}

div#time-pick > div {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}


