@import "../../Color.scss";

.timer-setting-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    margin: 0 12px;

    color: $text-color;
}

div#timer-setting-modal h2{
    color: black;
}

div#title-input {
    display: flex;
    flex-direction: column;
}

div#title-input input {
    padding: 12px; 
}