div.time-selector {
    > div {
        display: flex;
        align-items: center;
    }

    select {
        padding: 12px;
        text-align: center;
        text-align-last: center;
        -ms-text-align-last: center;
        -moz-text-align-last: center;
    }

    button {
        padding: 0 4px;
    }
}  