@import "../../Color.scss";

.timer-setting-modal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 480px;
    padding: 0 40px;
    margin: 0 calc((100vw - 151px - 480px - 80px) / 2);
    padding-bottom: 60px;

    color: $text-color;
}

div#timer-setting-modal h2{
    color: black;
}

div#title-input {
    display: flex;
    flex-direction: column;
}

div#title-input input {
    padding: 12px; 
}