@import '../../Color.scss';

div.record-label-setting-modal {
    display: flex;
    flex-direction: column;

    position: absolute; 
    left: 0;
    bottom: 0;

    width: 420px;
    height: 152px;
    padding: 24px 40px 40px 40px; 
    margin: 0 calc((100vw - 151px - 420px - 80px) / 2);
    
    top: 50%;
    transform: translateY(-50%);
    
    > header > h2 {
        color: $text-color;
    }
    > div#label-input-div {
        display: flex;
        flex-direction: column;
        > button {
            margin-top: 24px;
        }
        > input {
            padding: 12px;
            color: $text-color;
            &::placeholder {
                color: $text-color; 
            }
        }
    }
    > button {
        font-size: 24px;
        font-weight: 700;
    }
    
}