div#login {
    background-color: rgba(255, 255, 255, 0.1); /* 투명한 배경 색 */
    border-radius: 10px; /* 모서리를 둥글게 만듦 */
    backdrop-filter: blur(10px); /* 배경을 흐리게 만들어 유리 효과를 내도록 함 */
    border: 1px solid rgba(255, 255, 255, 0.2); /* 테두리 스타일 및 투명도 설정 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    padding: 20px; /* 내용과 테두리 간의 간격을 설정 */
    width: 400px; /* 너비 조절 */
    margin: auto; /* 가운데 정렬을 위한 margin 설정 */
}

div#login > div#input > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div#login > div#input > div > input {
    width: 280px;
    padding: 8px;    
}

div#login > div#links {
    display: flex;
}

div#login > div#links > a:after {
    content: "|";
    margin: 0px 12px;
}

div#login > div#links > a:last-child:after {
    content: ""
}
