div#login {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 480px;
    padding: 0 40px;
    margin: 0 calc((100vw - 151px - 480px - 80px) / 2);
    padding-bottom: 60px;
    
    > #input-group {
        padding: 0 40px;

        > .input-div {
            > .user-input > .input-container > input {
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            } 

            > .user-input:last-child > .input-container > input {
                border-bottom: none;
            } 
        }
    }

    > button {
        width: calc(100% - 80px);
        margin: 20px 40px 0 40px;
        padding: 12px 0;

        font-size: 20px;
        font-weight: 700;
    }

    > div#links {
        padding: 20px 40px;
        margin-top: 20px;
        > a:nth-child(2) {
            &:before,
            &:after {
                margin: 0 12px;
                content: "|";
            }
        }
    }
    
}
