div#my-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1080px;
    padding: 0 40px;
    > div#profile-div {
        display: flex;
        align-items: center;
        overflow: hidden;
        gap: 24px;
        > div#profile-img {
            width: 160px;
            height: 160px;
        }
        > div#id-info {
            text-align: left;
            span {
                font-size: 24px;
                font-weight: 700;
            } 
        }
    }
    > div#storage-div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        > .storage-button {
            width: calc(50% - 50px);
            padding: 24px;
            display: flex;
            align-items: center;
            cursor: pointer;
            > div {
                margin-left: 24px;
                text-align: left;
                > h2 {
                    font-size: 28px;
                }
            }
        }
    }


}