div.reminder-alarm-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: absolute; 
    left: 0;
    bottom: 0;

    width: 420px;
    padding: 0 40px;
    margin: 0 calc((100vw - 151px - 420px - 80px) / 2);
    
    top: 50%;
    transform: translateY(-50%);

    > button {
        font-size: 24px;
        font-weight: 700;
        padding: 12px;
    }
    
    > p {
        text-align: center;
        
        &:nth-child(1) {
            font-size: 24px;
            margin: 0 0 12px 0;
        }

        &:nth-child(2) {
            font-size: 48px;
            font-weight: 700;
            
        }
    }
}