div.basic-setter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > div {
        display: flex;
    }
    > label {
        margin-bottom: 12px;
    }
    select {
        padding: 12px;
    }
}