@import '../../Color.scss';

/* 스크롤 바의 전체 스타일 */
::-webkit-scrollbar {
    width: 12px;
}

/* 스크롤 바의 Track 스타일 */
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 스크롤 바의 Thumb(실제 스크롤 부분) 스타일 */
::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color;
}

/* 스크롤 바의 Thumb을 클릭했을 때 스타일 */
::-webkit-scrollbar-thumb:hover {
    
}

/* 스크롤 바에 마우스 호버했을 때 전체 스타일 */
::-webkit-scrollbar:hover {
    
}

/* 스크롤 바에 마우스 호버했을 때 Thumb 스타일 */
::-webkit-scrollbar-thumb:hover {
    
}

/* 스크롤 바가 액티브(스크롤 중)일 때 스타일 */
::-webkit-scrollbar-thumb:active {
   
}

/* 스크롤 바에 그림자 효과 */
::-webkit-scrollbar-track {
    
}
  