@import '../node_modules/normalize.css/normalize.css';
// App.scss
@import "./Color.scss";

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: url("./font/NotoSansKR-Thin.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 200;
  src: url("./font/NotoSansKR-ExtraLight.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("./font/NotoSansKR-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("./font/NotoSansKR-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("./font/NotoSansKR-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 600;
  src: url("./font/NotoSansKR-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url("./font/NotoSansKR-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 800;
  src: url("./font/NotoSansKR-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  src: url("./font/NotoSansKR-Black.ttf") format("ttf");
}

.App {
  background-image: url('./background/back_to_school1.jpeg');
  background-size: cover;
  text-align: center;
  height: 100vh;
}

// Text Styles
h1, h2, h3, p, span, button, input, input::placeholder, label, a, th, td {
  color: $white-text-color;
  font-family: "Noto Sans KR";
}

a {
  text-decoration: none;
}

button {
  // Reset default button styles
  appearance: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.glass {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dark-glass {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}