// Primary Color
$primary-color: #F5B9C5; // 또는 원하는 색상 코드

// Secondary Color
$secondary-color: #AE2C6A; // 또는 원하는 색상 코드

// Background Color
$background-primary-color: #FFDBDF; // 또는 원하는 색상 코드
$background-secondary-color: #FEF0F0; //
// Text Color
$text-color: #1C1117; // 또는 원하는 색상 코드
$white-text-color: #FFFFFF;
// Icon Color
$icon-color: #FFFFFF; // 또는 원하는 색상 코드

// 추가된 회색 색상
$light-grey-color: #CCCCCC;
$medium-grey-color: #999999;
$dark-grey-color: #666666;