div#find-id {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 480px;
    padding-bottom: 60px;
    
    > #input-group {
        padding: 0 40px;
        margin-bottom: 24px;

        > .input-div {
            
            > .user-input > .input-container > input {
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            } 

            > .user-input:last-child > .input-container > input {
                border-bottom: none;
            } 
        }
    }

    > button {

        width: calc(100% - 80px);
        margin: 0 40px 0 40px;
        padding: 12px 0;

        font-size: 20px;
        font-weight: 700;
    }

    > div#find-result {
        margin: 0 40px 20px 40px;   
        
        > div#id-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }

    > div#links {
        padding: 20px 40px;
        margin-top: 20px;
        > a:first-child {
            &:after {
                margin: 0 12px;
                content: "|";
            }
        }
    }
}
